body{
    background-color:grey;
    color: white;
}

img{
    width:450px;
    height:350px;
}
.main{
    display:flex;
    flex-direction:column;
    /* border:solid purple 3px; */
    align-items:center;
    justify-content:center;
    gap:20px;
}


.header{
    margin:auto;
    text-align: center;
}
.stats-container{
    display:flex;
    flex-direction:column;
    gap:5px;
}
.col{
    font-size: 22px;
}